<mat-card class="example-card">
  <mat-card-content>
    <div class="container">
      <div class="app-form">
        <form class="example-form" [formGroup]="formGroup">
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" />
            <mat-error *ngIf="nameControl.invalid"
              >Please enter valid name.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Age</mat-label>
            <input
              matInput
              placeholder="Age"
              type="number"
              formControlName="age"
            />
            <mat-error *ngIf="ageControl.invalid"
              >Please enter valid age.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Date of Birth </mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dateOfBirth"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dateOfBirthControl.invalid"
              >Please enter valid date.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <mat-label>Occupation</mat-label>
            <mat-select formControlName="occupation">
              <mat-option
                *ngFor="let occupation of occupations"
                [value]="occupation.key"
              >
                {{ occupation.key }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="occupationControl.invalid"
              >Please select occupation
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Death Sum Insured</mat-label>
            <input
              matInput
              type="number"
              placeholder="Death Sum Insured"
              formControlName="deathCoverAmount"
            />
            <mat-error *ngIf="deathCoverAmountControl.invalid"
              >Please enter valid sum insured
            </mat-error>
          </mat-form-field>
        </form>
      </div>
      <div class="premium">
        <span *ngIf="isPremiumVisible"> {{ sumAssured }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
