<mat-card>
  <mat-card-header>
    <mat-card-title>Premium Calculator</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="app-form">
        <form class="form" [formGroup]="formGroup">
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Name"
              formControlName="name"
              lettersOnly
            />
            <mat-error *ngIf="nameControl.invalid"
              >Please enter valid name.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Date of Birth </mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="dateOfBirth"
            />

            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="dateOfBirthControl.invalid"
              >Please enter valid date.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Age</mat-label>
            <input
              matInput
              placeholder="Age"
              type="number"
              formControlName="age"
              numberOnly
            />
            <mat-error *ngIf="ageControl.invalid"
              >Please enter valid age.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Occupation</mat-label>
            <mat-select formControlName="occupation">
              <mat-option
                *ngFor="let occupation of occupations"
                [value]="occupation.key"
              >
                {{ occupation.key }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="occupationControl.invalid"
              >Please select occupation
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Death Sum Insured</mat-label>
            <input
              matInput
              type="number"
              placeholder="Death Sum Insured"
              formControlName="deathCoverAmount"
              numberOnly
            />
            <mat-error *ngIf="deathCoverAmountControl.invalid"
              >Please enter valid sum insured
            </mat-error>
          </mat-form-field>
        </form>
        <button mat-button color="warn" (click)="onReset()">Reset</button>
      </div>
      <div class="premium">
        <span *ngIf="isPremiumVisible"> {{ sumAssured }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
